.container {
  width: 900px;
  margin: 0 auto;
  color: green;
}

.container h1 {
  color: red;
  border-radius: 4px;
  align-items: center;
}
hub
.container p {
  color: blue;
  text-align: center;
  padding-bottom: 4px;
  margin-right: 2px;
}
